In [10]:
import pandas as pd
import seaborn as sns
from geopy.geocoders import Nominatim

In [3]:
df = pd.read_csv("SHR65_23.csv")

In [4]:
print(df.columns)

Index(['ID', 'CNTYFIPS', 'Ori', 'State', 'Agency', 'Agentype', 'Source',
       'Solved', 'Year', 'Month', 'Incident', 'ActionType', 'Homicide',
       'Situation', 'VicAge', 'VicSex', 'VicRace', 'VicEthnic', 'OffAge',
       'OffSex', 'OffRace', 'OffEthnic', 'Weapon', 'Relationship',
       'Circumstance', 'Subcircum', 'VicCount', 'OffCount', 'FileDate', 'MSA'],
      dtype='object')

In [6]:
#subset for columns that are important
new_df = df[['State', "Agency", "Year", "Month", "Homicide", "VicAge", "VicSex", "VicRace", "VicEthnic", "OffAge", "OffSex", "OffRace", "OffEthnic", "Weapon", "VicCount", "OffCount"  ]]
new_df

,State,Agency,Source,Solved,Year,Month,Homicide,VicAge,VicSex,VicRace,VicEthnic,OffAge,OffSex,OffRace,OffEthnic,Weapon,VicCount,OffCount
0,Alaska,Anchorage,FBI,Yes,1976,March,Murder and non-negligent manslaughter,48,Male,Unknown,Unknown or not reported,68,Male,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",0,0
1,Alaska,Anchorage,FBI,Yes,1976,April,Murder and non-negligent manslaughter,33,Female,White,Unknown or not reported,44,Male,White,Unknown or not reported,"Handgun - pistol, revolver, etc",0,0
2,Alaska,Anchorage,FBI,Yes,1976,June,Murder and non-negligent manslaughter,38,Male,White,Unknown or not reported,27,Male,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",0,0
3,Alaska,Anchorage,FBI,Yes,1976,June,Murder and non-negligent manslaughter,41,Male,White,Unknown or not reported,34,Male,White,Unknown or not reported,"Handgun - pistol, revolver, etc",0,0
4,Alaska,Anchorage,FBI,Yes,1976,July,Murder and non-negligent manslaughter,33,Male,American Indian or Alaskan Native,Unknown or not reported,37,Female,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894631,Wyoming,Wind River Agency,FBI,No,2018,August,Murder and non-negligent manslaughter,29,Male,American Indian or Alaskan Native,Not of Hispanic origin,999,Unknown,Unknown,Unknown or not reported,Shotgun,0,0
894632,Wyoming,Wind River Agency,FBI,Yes,2019,August,Murder and non-negligent manslaughter,29,Male,American Indian or Alaskan Native,Not of Hispanic origin,30,Male,American Indian or Alaskan Native,Not of Hispanic origin,"Firearm, type not stated",0,0
894633,Wyoming,Wind River Agency,FBI,Yes,2023,March,Murder and non-negligent manslaughter,44,Male,American Indian or Alaskan Native,Not of Hispanic origin,33,Male,American Indian or Alaskan Native,Not of Hispanic origin,"Firearm, type not stated",0,0
894634,Wyoming,Wind River Agency,FBI,Yes,2023,March,Murder and non-negligent manslaughter,37,Male,American Indian or Alaskan Native,Not of Hispanic origin,29,Male,American Indian or Alaskan Native,Not of Hispanic origin,Other or type unknown,0,0
894635,Wyoming,Wind River Agency,FBI,Yes,2023,August,Murder and non-negligent manslaughter,42,Male,American Indian or Alaskan Native,Not of Hispanic origin,59,Male,American Indian or Alaskan Native,Not of Hispanic origin,"Handgun - pistol, revolver, etc",0,0

Now we can check if there are any missing values

In [ ]:
#Checking for any missing values in the data
for col in new_df.columns:
  print(col)
  print(new_df[col].isna().sum())

State
0
Agency
0
Source
0
Solved
0
Year
0
Month
0
Homicide
0
Situation
0
VicAge
0
VicSex
0
VicRace
0
VicEthnic
0
OffAge
0
OffSex
0
OffRace
0
OffEthnic
0
Weapon
0
Relationship
0
Circumstance
0
VicCount
0
OffCount
0

No missing values!

Now we can start cleaning our columns
The clean columns so far are (DELETE ONCE DONE, just for our reference)
- State, Year, Source, Solved, Situation, VicCount, OffCount,

In [ ]:
#subset the data based on year
new_df = new_df[new_df['Year']>=2010]
#check for weird values
print(new_df['Year'].unique())

[2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2022 2023 2021]

In [ ]:
#check for weird values
print(new_df['State'].unique())

['Alaska' 'Alabama' 'Arkansas' 'Arizona' 'California' 'Colorado'
 'Connecticut' 'District of Columbia' 'Delaware' 'Florida' 'Georgia'
 'Hawaii' 'Iowa' 'Idaho' 'Illinois' 'Indiana' 'Kansas' 'Kentucky'
 'Louisiana' 'Massachusetts' 'Maryland' 'Maine' 'Michigan' 'Minnesota'
 'Missouri' 'Mississippi' 'Montana' 'Nebraska' 'North Carolina'
 'North Dakota' 'New Hampshire' 'New Jersey' 'New Mexico' 'Nevada'
 'New York' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhodes Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Virginia'
 'Vermont' 'Washington' 'Wisconsin' 'West Virginia' 'Wyoming']

In [ ]:
#check for weird values
print(new_df['Source'].unique())

['FBI' 'MAP']

In [ ]:
#check for weird values
print(new_df['Solved'].unique())

['No' 'Yes']

In [ ]:
#check for weird values
print(new_df['Situation'].unique())

['Single victim/unknown offender(s)' 'Single victim/single offender'
 'Single victim/multiple offenders' 'Multiple victims/single offender'
 'Multiple victims/unknown offender(s)'
 'Multiple victims/multiple offenders']

In [ ]:
#check for weird values
print(new_df['VicCount'].unique())

[ 0  1  2  3  4  9  5  6 10  7  8 11 21 20 52]

In [ ]:
#check for weird values
print(new_df['OffCount'].unique())

[ 0  1  2  3  4  5  8  7  6  9 11 15 12 10 17 40 13 14 21]

In [13]:

geolocator = Nominatim(user_agent="Project")
location = geolocator.geocode("Anchorage, Alaska")
print(location.longitude)
print(location.latitude)

-149.894852
61.2163129